<!DOCTYPE html>

<html>
    <head>
        <title>404</title>
        <link rel="icon" href="img/weather.png">
    </head>
    <body>
        {{>headers}}
        {{error}}
        {{>footers}}
    </body>
</html>