<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="img/weather.png">
        <link rel="stylesheet" href="../css/styles.css">     
    </head>
    <body>
        {{>headers}}
        <div class="main-content">
            <img class="portrait" src="../img/jpgformat.jpg" alt="">
        </div>
        
        {{>footers}}
    </body>
</html>